name: Release Creation

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Inject Version into module.json
        run: |
          VERSION="${GITHUB_REF_NAME#v}"
          sed -i 's/"version": ".*"/"version": "'$VERSION'"/' module.json

      - name: Commit version bump to main
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add module.json
          git commit -m "Auto-update version to ${GITHUB_REF_NAME#v} [skip ci]" || echo "No changes to commit"
          git push origin HEAD:main

      - name: Create Module Zip
        run: |
          zip -r ./module.zip . -x "*.git*" "*.github*" ".gitignore" "README.md" "LICENSE"

      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            module.json
            module.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
